@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;

}

.logo {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.logo:hover {
    color: rgb(243, 251, 0);
    cursor: pointer;
}

#nav-bar {
    display: flex;
    font-size: 1rem;
}

#nav-bar a {
    margin-right: 1.875rem;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

#nav-bar a:hover {
    color: rgb(243, 251, 0);
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
}

#inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Image/cruzeiro-background.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    padding-left: 6rem;
    transition: 0.7s;
}

#inicio h1{
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
}

#inicio h2, span{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
}

#inicio h2 span:hover{
    color: rgb(243, 251, 0);
    cursor: pointer;
}

@media screen and (max-width: 1080px){
    #inicio{
        padding-left: 2rem;
    }

    #inicio h1 {
        font-size: 1.4rem;
    }

    #inicio h2{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px){
    #inicio h1{
        font-size: 1.2rem;
    }

    #inicio h2{
        font-size: 1.1rem;
    }
}

#sobre{
    background-color: rgb(235, 235, 235);
    padding: 3rem;
}

.imagem{
    border-radius: 1.25rem;
    transition: 0.8s;
}

.imagem:hover{
    transform: scale(1.03);
}

.imagem .img{
    max-width: 100%;
    height: auto;
    border-radius: 1.25rem;
}

.info{
    width: 100%;
    letter-spacing: 2px;
}

.info h3{
    color: rgb(10, 10, 10);
    font-size: 1.6rem;
    font-weight: 700;
    transition: 0.7s;
}

.info h3:hover{
    font-size: 1.7rem;
}

.info p{
    color: rgb(10, 10, 10);
    font-size: 1.2rem;
}

#imagens{
    background-color: rgb(183, 183, 183);
    padding: 3.125rem;
}

.grid-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: 960px;
}

.cartao .image{
    max-width: 100%;
    height: auto;
    border-radius: 1.25rem;
}

.cartao{
    transition: 0.7s;
}

.cartao:hover{
    transform: scale(1.03);
}

footer {
    background-color: rgb(235, 235, 235);
    padding: 3.125rem 1.25rem;
}